<div class="modalpet-backdrop is-hidden" data-pet-modal>
    <div class="modalpet">
        
      <button type="button" class="modalpet-close">
        X
      </button>

      <div class="modal-window-pet">
  
      <img class="modalpet-img" alt="" src=""/>

      <p class="pet-type-paragraph"></p>
  
      <h3 class="modalpet-name"></h3>
      <div class="modal-age-gender">
        <p class="modal-pet-age"></p>
        <p class="modal-pet-gender"></p>
      </div>
      <span class="modal-descr-word">Опис:</span>
      <p class="modalpet-desc"></p>

      <span class="modal-descr-word">Здоров’я:</span>
      <p class="modalpet-health-desc"></p>

      <span class="modal-descr-word">Поведінка:</span>
      <p class="modalpet-behaviour-desc"></p>
    </div>

      <button type="button" class="modalpet-adopt-btn">
        Взяти додому
      </button>
    </div>
  </div>