<!-- ORDER MODAL -->
<div class="backdrop is-hidden" data-order-modal>
  <div class="order-modal" role="dialog" aria-modal="true">

    <button
      type="button"
      class="order-modal__close"
      data-order-close
      aria-label="Закрити"
    >
      <svg
        class="order-modal__close-icon"
        width="24"
        height="24"
        aria-hidden="true"
      >
        <use href="../img/icon.svg#icon-close"></use>
      </svg>
    </button>

    <div class="order-modal__inner">
      <h2 class="order-modal__title">
        Залишіть<br />
        заявку на<br />
        знайомство
      </h2>

      <form class="order-form" data-order-form>
        <label>
          <span>Імʼя*</span>
          <input
            type="text"
            name="name"
            placeholder="Андрій"
            autocomplete="name"
            required
          />
        </label>

        <label>
          <span>Телефон*</span>
          <input
            type="tel"
            name="phone"
            placeholder="+38 (095) 555 99 22"
            autocomplete="tel"
            required
          />
        </label>

        <label>
          <span>Коментар</span>
          <textarea
            name="comment"
            placeholder="Напишіть ваш коментар"
            autocomplete="off"
          ></textarea>
        </label>

        <!-- LOADER -->
        <span class="order-loader is-hidden" aria-hidden="true"></span>

        <button type="submit">Надіслати</button>
      </form>
    </div>
  </div>
</div>
