<div class="container">
  <h2 class="about-title">Щасливі історії, що надихають</h2>
  <p class="about-text stories">Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>
  <div class="slider">
    <div class="swiper">
      <div class="swiper-wrapper"></div>
    </div>

    <div class="controls">
      <div class="swiper-pagination"></div>
      <div class="swiper-but">
        <div class="swiper-button-prev">
          <svg class="icon" width="16" height="16">
            <use href="../img/icon.svg#icon-Vector-arrow"></use>
          </svg>
        </div>
        <div class="swiper-button-nextt swiper-button-next">
          <svg class="icon" width="16" height="16">
            <use href="../img/icon.svg#icon-Vector-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>