:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #0b0803;
  background-color: #f6f4f1;;
}

h1,
h2 {
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.01em;
}

button {
  background-color: #f6f4f1;;
  border: transparent;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  border-radius: 100px;
  padding: 10px 24px;
  font-weight: 500;
  color: #ffffff;
}
