:root {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #0b0803;
  background-color: #f6f4f1;;
}

h1,
h2 {
  font-family: 'Aboreto', sans-serif;
}

h2 {
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.01em;
}

button {
  background-color: #f6f4f1;;
  border: transparent;
  border-radius: 100px;
  padding: 10px 24px;
  font-weight: 500;
  color: #ffffff;
}
