                                                                                                              /* ===== HERO ===== */

.section-hero {
    margin: 0 auto;
    max-width: 375px;

    padding: 64px 0 115px;

    background: 
        center / cover 
        no-repeat 
        url(../img/hero/hero-mob-min.jpg);
}

.section-hero .container {
    display: flex;
    flex-direction: column;
}

.section-hero-wrap {
    max-width: 335px;
}

.section-hero-title {
    margin-bottom: 24px;

    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #ffffff;
}

.section-hero-text {
    margin-bottom: 32px;

    font-size: 16px;
    color: #ffffff;
}

.section-hero-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 171px;
    height: 45px;

    font-size: 14px;
    color: #ffffff;

    background-color: #88765c;
    border-radius: 8px;

    transition:
        background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero-link:hover,
.section-hero-link:focus {
     border: 1px solid #02060a;
  background: #c3b49d;
  color: #02060a;
}

.section-hero-link:active {
    box-shadow:
        inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
        inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

/* ===== RETINA MOBILE ===== */

@media screen and (min-resolution: 2dppx) {
    .section-hero {
        background-image: url(../img/hero/hero-mob@2x-min.jpg);
    }
}

/* ===== TABLET ===== */

@media screen and (min-width: 768px) {
    .section-hero {
        max-width: 768px;
        padding-bottom: 235px;
        background-image: url(../img/hero/hero-tab-min.jpg);
    }

    .section-hero-wrap {
        max-width: 704px;
    }

    .section-hero-title {
        max-width: 622px;
    }

    .section-hero-text {
        max-width: 512px;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .section-hero {
        background-image: url(../img/hero/hero-tab@2x-min.jpg);
    }
}

/* ===== DESKTOP ===== */

@media screen and (min-width: 1440px) {
    .section-hero {
        max-width: 1440px;
        padding: 128px 0 413px;
        background-image: url(../img/hero/hero-desk-min.jpg);
    }

    .section-hero-title {
        font-size: 56px;
    }

    .section-hero-text {
        font-size: 18px;
    }

    .section-hero-link {
        font-size: 16px;
    }

    .section-hero-wrap {
        margin-left: 0;
    }
}

@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
    .section-hero {
        background-image: url(../img/hero/hero-desk@2x-min.jpg);
    }
}


