/* ================= HERO ================= */
.section-hero {
  position: relative;
  padding-top: 64px;
  padding-bottom: 115px;
  margin: 0 auto;

  background-image: url("../img/hero/hero-mob-min.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* container */
.hero-container {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 0;
}

/* content */
.hero-content {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

/* title */
.hero-title {
  max-width: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

/* перенос */
.hero-br {
  display: none;
}

/* text */
.hero-text {
  max-width: none;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 32px;
}

/* ================= HERO BUTTON (как header-btn) ================= */
.hero-anchor-link {
  display: inline-block;
  align-self: flex-start;

  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #88765c;
  background-color: #88765c;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;

  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease,
              border-color 0.5s ease, box-shadow 0.5s ease;
}

.hero-anchor-link:hover,
.hero-anchor-link:focus-visible {
  background-color: #eee9e3;
  color: #02060a;
  border-color: #88765c;
}

.hero-anchor-link:active {
  background-color: #eee9e3;
  color: #02060a;
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
              inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.hero-anchor-link:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

/* ================= TABLET ================= */
@media (min-width: 768px) {
  .section-hero {
    padding-bottom: 235px;
    background-image: url("../img/hero/hero-tab-min.jpg");
  }

  .hero-container {
    max-width: 768px;
    padding: 0 32px;
  }

  .hero-title {
    max-width: 622px;
  }

  .hero-text {
    max-width: 512px;
    font-size: 16px;
  }

  .hero-anchor-link {
    font-size: 14px;
    padding: 12px 28px;
  }
}

/* ================= DESKTOP ================= */
@media (min-width: 1440px) {
  .section-hero {
    padding-top: 128px;
    padding-bottom: 413px;
    max-width: 1440px;
    background-image: url("../img/hero/hero-desk-min.jpg");
  }

  .hero-container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .hero-title {
    font-size: 56px;
  }

  .hero-text {
    font-size: 18px;
  }

  .hero-anchor-link {
    font-size: 16px;
    padding: 14px 32px;
  }
}
