html{
    scroll-behavior: smooth;
}
/* main {
    padding-top: 72px;
} */


body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html{
    scroll-behavior: smooth;
}
/* main {
    padding-top: 72px;
} */

p {
  margin: 0 0 8px 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

