.swiper-button-prev,
 .swiper-button-next,
 .swiper-pagination {
position: static !important;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.swiper-pagination {
max-width: max-content;
}
.swiper-but{
    display: flex;
}
.swiper {

}

.swiper-slide {
 
}

.swiper-button-prev,
.swiper-button-next {
}

.swiper-pagination-bullet {

}
.swiper-button-prev svg, .swiper-button-next svg {
width:  16px !important;
height: 16px !important;
fill: rgba(2, 6, 10, 1)!important;
    }
  /* Базовий стан */
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #999;
  opacity: 0.4;
  transition:
    width 0.25s ease,
    height 0.25s ease,
    opacity 0.25s ease;
}

/* Активна */
.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  opacity: 1;
  background-color: #000 !important;
}

/* 1-й рівень зліва / справа */
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
  width: 8px;
  height: 8px;
  opacity: 0.7;
}

/* 2-й рівень зліва / справа */
.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet-active-next-next {
  width: 6px;
  height: 6px;
  opacity: 0.3;
}
.feedback{
  max-width: 336px;
  max-height: 346px;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
transform: none !important;
}
.feedback-text{
  font-weight: 400;
font-size: 18px;
line-height: 1.5;
color: #02060a;
font-family: "IBM Plex Sans", sans-serif;
}
.feedback-author{
font-weight: 600;
font-size: 14px;
line-height: 1.5;
color: #02060a;
}