.section-about {
padding: 64px 20px;
max-width: 375px;
height: auto;
background: #F6F4F1;
}

.about-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-1-text);
    width: 335px;
    height: 86px;
    max-width: 768px;
    padding-bottom: 40px;
    text-align: center;
    margin: 0 auto;
}


.about-swiper {
    width: 335px;
    height: 402px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.about-swiper .swiper-wrapper,
.about-swiper .swiper-slide {
    height: 100%;
}

.about-swiper .swiper-slide {
    display: flex;
    justify-content: center;
}


.about-slide {
    position: relative;
    max-width: 335px;
    height: auto;
    overflow: hidden;
}

.about-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0));
}

.about-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 150%;
    font-family: var(--font-family);
    z-index: 2;
    width: 295px;
    padding-left: 20px;   
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    cursor: pointer;
    background: #cfcfcf !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: #02060A !important;
    width: 8px;
    height: 8px;
}

.swiper-button-prev,
.swiper-button-next {
all: unset;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C3B49D;
    border-style: solid;
    border-radius: 8px;
    background-color: #EEE9E3;
    cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-disabled {
    opacity: 0.4;
    cursor: default;
}

.swiper-button-prev svg,
.swiper-button-next svg {
width: 24px;
    height: 24px;
    stroke: currentColor;
    fill: none;
}


.swiper-pagination {
    position: relative;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    flex: none;
}

.about-arrows {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
}

.about-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 24px;
    justify-content: center;
    margin: 0 auto;
}

.about-arrows-desktop {
    display: none;
}

@media (min-width: 768px) {
    .section-about {
        width: 768px;
    }
    .about-title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: -0.01em;
        text-align: center;
        color: var(--color-scheme-1-text);
        margin: 0 auto;
        width: 768px;
    }
    .about-swiper {
        width: 704px;
    }
    .about-slide {
        max-width: 704px;
    }
    .about-arrows {
        display: none;
    }
    .swiper-pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    padding-bottom: 64px;
    padding-top: 24px;
    }
    .about-arrows-desktop {
        display: flex;
        justify-content: space-between;
    }

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
        }

    .swiper-button-prev {
        left: 24px;
    }

    .swiper-button-next {
        right: 24px;
    }
}

@media (min-width: 1280px) {
    .section-about {
        padding: 80px 64px;
        width: 1440px;
    }
    .about-title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: -0.01em;
        text-align: center;
        color: var(--color-scheme-1-text);
        padding-bottom: 40px;
        margin: 0 auto;
        width: 1312px;
    }
    .about-swiper {
        width: 1312px;
    }
    .about-slide {
        width: 1312px;
    }
    .about-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #F6F4F1;
        width: 548px;
    }
}