/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');
@import url('./base.css');

/* Sections style */
@import url('./header.css');

@import url('./hero.css');
@import url('./partials.css');
@import url('./aboutus.css');
@import url('./faq.css');
@import url('./stories.css');
@import url('./modal.css');


@import url('./footer.css');

@import url('./mobile-menu.css');
@import url('./modal.css');
@import url('./modalpet.css');